.header {
    background: url('/src/img/header-background.png') center center/cover no-repeat;
    height: 548px;
    // background-size: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    &-hamburger {
        display: none;
        position: absolute;
        right: 5px;
        cursor: pointer;
        span{
            height: 5px;
            width: 45px;
            display: block;
            background: #ffffff;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-logo {
        margin-right: 70px;
    }
    &-wrapper {
        // width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    &-shell {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-menu {
        height: 80px;
        display: flex;
        align-items: center;
        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-item {
                margin-right: 50px;
                color: #FDFDFD;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                cursor: pointer;
                // position: relative;
                height: 80px;
                line-height: 80px;
                &:hover {
                    .header-menu__list-item-submenu {
                        display: block;
                        cursor: auto;
                    }
                    .header-menu__list-icon {
                        transform: translateY(-25%) rotate(180deg);
                        transition: 0.2s all ease-out;
                    }
                }
                &-submenu {
                    padding: 0 50px 50px 50px;
                    width: 1440px;
                    position: absolute;
                    background: #FFFFFF;
                    display: none;
                    left: 0;
                    top: 80px;
                    &-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        
                    }
                    .flex-30 .header-menu__list-item-submenu-item{
                        flex: 30%;
                        max-width: 30%;
                    }
                    &-item {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 18px;
                        color: #252627;
                        margin-top: 50px;
                        text-decoration: none;
                        &:hover {
                            color: #1E5AAF;
                        }
                    }
                }
                &-link {
                    text-decoration: none;
                    color: #FDFDFD;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    height: 80px;
                    line-height: 36px;
                }
            }
            &-icon {
                // background: url('/src/icons/more-arrow.png') center center/cover no-repeat;
                width: 13px;
                height: 12px;
                display: inline-block;
                margin-left: 10px;
                // right: -20px;
                // top: 50%;
                transform: translateY(-25%) rotate(0deg);
                transition: 0.2s ease;
                vertical-align: sub;
            }
            &-item:nth-child(4) {
                margin-right: 20px;
            }
            &-item:nth-child(5) {
                margin-right: 20px;
            }
            
        }
    }
    &-search {
        margin-right: 143px;
        cursor: pointer;
    }
    &-check {
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        font-weight: 400;
        font-size: 18px;
        padding: 14px 20px;
        border: 2px solid #DF0050;
        border-radius: 25px;
        margin-right: 15px;
    }
    &-buy {
        background: #FFFFFF;
        border: none;
        border-radius: 25px;
        padding: 14px 20px;
        color: #49301D;
        font-weight: 400;
        font-size: 18px;
        cursor: pointer;
    }
    &-title {
        padding-top: 160px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 110%;
    }
    &-more {
        margin-top: 50px;
        display: block;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        width: 130px;
        &:before {
            content: '';
            background: url('/src/icons/more-arrow.png')center/cover no-repeat;
            display: block;
            width: 8px;
            height: 13px;
            position: absolute;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
        }
    }
}

.changeColor {
    background-color: #fff;
    width: 100% !important;
    padding-bottom: 5px;
    .header {
        &-buy {
            background: #0F57BE;
            color: #FDFDFD;
        }
        &-menu {
            &__list {
                &-item {
                    color: #000;
                    &-link {
                        color: #000;
                    }
                }
                &-icon {
                    path {
                        fill: #1E5AAF;
                    }
                }
            }
        }
        &-logo {
            &__img {
                path {
                    fill: #1E5AAF;
                }
            }
        }
        &-check {
            color: #DF0050;
        }
    }
    .header-hamburger span {
        background: #1E5AAF;
    }
}